$color-1: #89C3FF;
$color-2: #FFFFFF;
$color-3: #222533;
$color-4: #FFA500;
$color-5: #FF7600;
$color-5: #FF7979;
$color-6: #AD0909;
$color-7: #A4EA86;
$color-8: #444444;
$color-9: #17D8C6;
$color-10: #F73737;
$color-11: #0BE042;
